<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/myBackStyle.css">
     <title>Document</title>
</head>
<body>
     <header class="d-flex justify-content-start">
          <div>
               <%- include('share/back_nav.ejs')%> 
          </div>
          <div class="backBlock"></div>
          <div>
               <div style="height: 50px; width: 100%;"></div>
               <h2>訂單管理</h2>
               <table class="backtable">
                    <tr class="bg-info">
                         <th class="backCol">行程名稱</th>
                         <th class="backCol-s">地區</th>
                         <th class="backCol-s">報名/上限</th>
                         <th class="backCol">出發日期</th>
                         <th class="backCol-s">狀態</th>
                         <th></th>
                    </tr>
                    <% for(var i=0;i < data.length; i++){ %>
                    <tr>
                         <td><%= data[i].Title %></td>
                         <td><%= data[i].GoTo %></td>
                         <td><%= data[i].sign %> / <%= data[i].people %></td>
                         <td><%= data[i].GoDate %></td>
                         <td><%= data[i].Form %></td>
                         <td><button class="btn btn-info m-1" onclick="order('<%= data[i].id %>')">檢視</button></td>
                    </tr>
                    <% } %>
               </table>
          </div>
     </header>

     
</body>
</html>