<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/myBackStyle.css">
     <script src="/js/jquery-3.6.0.js"></script>

     <title>Document</title>
</head>

<body>
     <header class="d-flex justify-content-start">
          <div>
               <%- include('share/back_nav.ejs')%>
          </div>
          <div class="backBlock"></div>

          <div>
               <div style="height: 50px; width: 100%;"></div>
               <h2>會員管理</h2>
               <form action="/memberSelect" method="post">
                    <label for="memberSelectID">會員編號：</label>
                    <input id="memberSelectID" type="number" placeholder="搜尋" min="1">
                    <label for="memberSelectName">姓名：</label>
                    <input id="memberSelectName" type="text" placeholder="搜尋">
                    <a href="/background/memberBlack" class="btn btn-danger float-end">黑名單</a>

               </form>
               <hr>
               <table class="backtable mt-2">
                    <tr class="bg-info">
                         <th class="backCol-s">會員編號</th>
                         <th class="backCol">帳號</th>
                         <th class="backCol-s">姓名</th>
                         <th class="backCol-s">性別</th>
                         <th class="backCol">Email</th>
                         <th class="backCol">地址</th>
                         <th></th>
                         <th></th>
                    </tr>
                    <% for(var i=0;i < data.length; i++){ %>
                         <tr>
                              <td class="ps-4">
                                   <%= data[i].uid %>
                              </td>
                              <td>
                                   <%= data[i].username %>
                              </td>
                              <td>
                                   <%= data[i].name %>
                              </td>
                              <td>
                                   <%= data[i].sex %>
                              </td>
                              <td>
                                   <%= data[i].email %>
                              </td>
                              <td>
                                   <%= data[i].address %>
                              </td>
                              <td><button class="btn btn-info m-1"
                                        onclick="member('<%= data[i].uid %>')">檢視</button></td>
                              <td><button class="btn btn-danger m-1"
                                        onclick="memberBlack('<%= data[i].uid %>')">加入黑名單</button></td>
                         </tr>
                         <% } %>
               </table>
               <button class="btn btn-info mt-2" onclick="fresh()">顯示全部會員</button>
          </div>
     </header>

     <script>
          function member(id) {
               console.log(id);
               memberData = {
                    memberID: id
               }
               $.ajax({
                    type: "post",
                    url: "/background/member",
                    data: memberData,
                    success: function (e) {
                         $(location).attr('href', '/background/memberview');
                    }
               })
          }

          function memberBlack(id) {
               console.log(id);
               var reason = prompt('黑名單的原因是？')
               if (reason) {
                    memberData = {
                         memberID: id,
                         reason: reason
                    }
                    $.ajax({
                         type: "post",
                         url: "/background/memberBlack",
                         data: memberData,
                         success: function (e) {
                              window.location.assign(window.location.href);
                         }
                    })
               } else {
                    alert('請填寫原因');
               }
          }


          function clearData() {
               $('tr:not(:first-child)').remove();
          }


          $('#memberSelectID').on('change', function () {

               // console.log($('#memberSelectID').val());
               var id = $('#memberSelectID').val();
               memberData = {
                    memberID: id
               }

               $.ajax({
                    type: "post",
                    url: "/background/memberSelectId",
                    data: memberData,
                    success: function (data) {
                         console.log(data);
                         clearData();
                         if (data.length == 0) {
                              var memberRow =
                                   '<tr>' + '<td>' + '查無此資訊' + '</td>' +'</tr>'

                              $('tr:nth-child(1)').after(memberRow);

                         } else {
                              var memberRow = '<tr>' +
                                   '<td class="backCol-s">' + data[0].uid + '</td>' +
                                   '<td class="backCol">' + data[0].username + '</td>' +
                                   '<td class="backCol-s">' + data[0].name + '</td>' +
                                   '<td class="backCol-s">' + data[0].sex + '</td>' +
                                   '<td class="backCol">' + data[0].email + '</td>' +
                                   '<td class="backCol">' + data[0].address + '</td>' +
                                   '<td><button class="btn btn-info m-1" onclick="member(\'' + data[0].uid + '\')">檢視</button></td>' +
                                   '<td><button class="btn btn-danger m-1" onclick="memberBlack(\'' + data[0].uid + '\')">加入黑名單</button></td>' +
                                   '</tr>';
                              $('tr:nth-child(1)').after(memberRow);

                         }
                    }
               })

          })

          $('#memberSelectName').on('change', function () {

               // console.log($('#memberSelectName').val());
               var name = $('#memberSelectName').val();
               memberData = {
                    memberName: name
               }

               $.ajax({
                    type: "post",
                    url: "/background/memberSelectName",
                    data: memberData,
                    success: function (rows) {
                         // console.log(rows);
                         clearData();
                         if (rows.length == 0) {
                              var memberRow =
                                   '<tr>' +
                                   '<td>' + '查無此資訊' + '</td>' +
                                   '</tr>'

                              $('tr:nth-child(1)').after(memberRow);

                         } else {
                              for (var i = 0; i < rows.length; i++) {
                                   var memberRow =
                                        '<tr>' +
                                        '<td class="backCol-s">' + rows[i].uid + '</td>' +
                                        '<td class="backCol">' + rows[i].username + '</td>' +
                                        '<td class="backCol-s">' + rows[i].name + '</td>' +
                                        '<td class="backCol-s">' + rows[i].sex + '</td>' +
                                        '<td class="backCol">' + rows[i].email + '</td>' +
                                        '<td class="backCol">' + rows[i].address + '</td>' +
                                        '<td><button class="btn btn-info m-1" onclick="member(\'' + rows[i].uid + '\')">檢視</button></td>' +
                                        '<td><button class="btn btn-danger m-1" onclick="memberBlack(\'' + rows[i].uid + '\')">加入黑名單</button></td>' +
                                        '</tr>';
                                   $('tr:nth-child(1)').after(memberRow);
                              }
                         }
                    }
               })

          })

          function fresh() {
               window.location.assign(window.location.href);
          }

     </script>


</body>

</html>