<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/myBackStyle.css">
     <script src="/js/jquery-3.6.0.js"></script>

     <title>Document</title>
     <style>
          table{
               /* margin-top: 5%; */
               font-size: 18px;
               border: 2px solid #0dcaf0;

          }
          th{
               background-color: #0dcaf0;
               width: 230px;
               height: 30px;
               text-align: center;

          }
          td{
               width: 230px;
               height: 70px;
               border: 1px solid #0dcaf0; 
               text-align: center;
          }

     </style>
</head>
<body>
     <header class="d-flex justify-content-start">
          <div>
               <%- include('share/back_nav.ejs')%>
          </div>
          <div class="backBlock"></div>
          <div style="margin-left:1% ;">
               <div style="height: 50px; width: 100%;"></div>
               <h2>會員資料</h2>
               <button class="btn btn-info" onclick="history.back()">回上一頁</button>
               <a class="btn btn-warning" href="/background/members">修改會員資料</a>
               <hr>

               <table>
                    <tr>
                         <th style="width: 30px; background-color: #0dcaf0;"></th>
                         <th  >會員編號</th>
                         <th  >姓名</th>
                         <th  ></th>
                         

                    </tr>
                    <tr>
                         <td style="width: 30px; background-color: #0dcaf0;"></td>
                         <td  ><%= data[0].uid %></td>
                         <td  ><%= data[0].name %></td>
                         <td  ></td>
                    </tr>
                    <tr>
                         <th style="width: 30px; background-color: #0dcaf0;"></th>
                         <th  >帳號</th>
                         <th  >性別</th>
                         <th  >身分證字號</th>
                    </tr>
                    <tr>
                         <td style="width: 30px; background-color: #0dcaf0;"></td>
                         <td  ><%= data[0].username %></td>

                         
                         <td id="sex">
                              <% if( data[0].sex  == "male"){ %>
                              <%=      "男" %>
                              <% }else{ %>
                              <%=      "女" %>
                              <% } %>
                         </td>

                         <td  ><%= data[0].identity %></td>
                    </tr>
                    <tr>
                         <th style="width: 30px; background-color: #0dcaf0;"></th>
                         <th  >信箱</th>
                         <th  >電話</th>
                         <th  >地址</th>
                    </tr>
                    <tr>
                         <td style="width: 30px; background-color: #0dcaf0;"></td>
                         <td  ><%= data[0].email %></td>
                         <td  ><%= data[0].phone %></td>
                         <td  ><%= data[0].address %></td>
                    </tr>

               </table>



               <!-- <table>
                    <tr>
                         <th class="bg-info">會員編號</th>
                         <td>
                              <%= data[0].uid %>
                         </td>
                    </tr>
                    <tr>
                         <th class="bg-info">會員帳號</th>
                         <td>
                              <%= data[0].username %>
                         </td>
                    </tr>
                    <tr>
                         <th class="bg-info">會員姓名</th>
                         <td>
                              <%= data[0].name %>
                         </td>
                    </tr>
                    <tr>
                         <th class="bg-info">電子郵件</th>
                         <td>
                              <%= data[0].email %>
                         </td>
                    </tr>
                    <tr>
                         <th class="bg-info">性別</th>
                         <td>
                              <%= data[0].sex %>
                         </td>
                    </tr>
                    <tr>
                         <th class="bg-info">住址</th>
                         <td>
                              <%= data[0].address %>
                         </td>
                    </tr>
     
               </table> -->
     
          </div>
     </header>
     
</body>
</html>