<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/myBackStyle.css">
     <script src="/js/jquery-3.6.0.js"></script>
     <title>Document</title>
</head>
<body>
     <header class="d-flex justify-content-start">
          <div>
               <%- include('share/back_nav.ejs')%> 
          </div>
          <div class="backBlock"></div>
          <div>
               <div style="height: 50px; width: 100%;"></div>
               <h2>訊息</h2>
               <a href="/background/itineraryAdd" class="btn btn-info">新增行程</a>
               <hr>
               <table class="backtable mt-2" style="width: 860px;">
                    <tr>
                         <th class="backCol bg-info">姓名</th>
                         <td class="border border-info"><%= data[0].name %></td>
                         <th class="backCol bg-info">性別</th>
                         <td class="border border-info"><%= data[0].sex %></td>
                    </tr>
                    <tr>
                         <th class="backCol bg-info">信箱</th>
                         <td class="border border-info"><%= data[0].email %></td>
                         <th class="backCol bg-info">電話</th>
                         <td class="border border-info"><%= data[0].phone %></td>
                    </tr>
                    <tr>
                         <th class="backCol bg-info" colspan="2">聯絡時間</th>
                         <th class="backCol bg-info" colspan="2">詢問需求</th>
                    </tr>
                    <tr>
                         <td colspan="2" class="backCol border border-info"><%= data[0].time %></td>
                         <td colspan="2" class="backCol border border-info"><%= data[0].purpose%></td>
                    </tr>
                    <tr>
                         <th class="bg-info backCol" colspan="4">主旨</th>
                    </tr>
                    <tr>
                         <td colspan="4" class="backCol border border-info"><%= data[0].subject%></td>
                    </tr>
                    <tr>
                         <th  class="bg-info backCol" colspan="4">內容</th>
                    </tr>
                    <tr>
                         <td colspan="4" class="backCol border border-info" style="padding: 30px; "><%= data[0].demand%></td>
                    </tr>
                    
               </table>
          </div>
     </header>
     
</body>
</html>