<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/myHomeStyle.css">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <script src="/js/jquery-3.6.0.js"></script>
     <title>Home page</title>
</head>

<body onload="loading()">
     <div id="loading">
          <div class="icon">
               <div class="paper"></div>
               <div class="stroke"></div>
          </div>
     </div>
     <%- include('share/home_nav.ejs')%>
          <div class="space" style="overflow:hidden;">
               <!-- <div class="garyZone"></div> -->
               <div class="search_space">
                    <div class="row">
                         <div class="col-9">
                              <form class="searchForm" action="">
                                   <span class="searchFont">搜尋</span>
                                   <span class="searchFont">SERACH</span>
                                   <div class="searchFormA">
                                        <span class="searchFontA">台灣</span>
                                        <select name="" id="" class="searchSelect">
                                             <option value="">東京</option>
                                             <option value="">大阪</option>
                                             <option value="">名古屋</option>
                                             <option value="">京都</option>
                                             <option value="">北海道</option>
                                        </select>
                                   </div>
                                   <span class="searchFontB">時間區間</span>
                                   <input type="date" class="searchDate"><span class="searchFontc">~</span>
                                   <input type="date" class="searchDate">
                              </form>
                         </div>
                         <div class="col-3">
                              <button class="searchBtn">
                                   <span>SEARCH</span>
                                   <p>搜尋</p>

                              </button>
                         </div>
                    </div>



               </div>
               <div class="sky"></div>
               <div class="cloud"></div>
               <div class="airWindow"></div>
               <div class="topContent">
                    <div class="search">
                         <button id="search">想去哪裡</button>
                         <img class="icon_air" src="/img/airplane_1.svg" alt="">
                    </div>
                    <div class="title_top">
                         <div>Enjoy</div>
                         <div>Travel</div>
                         <div>To Japan</div>
                    </div>
                    <div>起程</div>
                    <img class="arrows" src="/img/twoarrow.png" alt="">
               </div>

               <script>
                    function loading() {
                         setTimeout(function () {
                              document.getElementById("loading").style.height = "0%";
                         }, 2000)
                    }
                    $('.search_space').hide();
                    $('body').on('click', function (e) {
                         console.log(e);
                         var container = $('.search_space');
                         var searchBtn = $('#search');
                         if (!container.is(e.target) && !container.has(e.target).length &&
                              !searchBtn.is(e.target) && !searchBtn.has(e.target).length) {
                              container.hide();
                         }


                    })
                    $('#search').on('click', function () {
                         // console.log('btnok');
                         $('.search_space').toggle();

                    })
               </script>



          </div>
          <!-- ----------------------------最新消息------------------------------ -->
          <div class="space">
               <div class="place_center">
                    <h2 class="titleStyle mt-5">最 新 消 息</h2>
                    <div class="dash mt-5"></div>
                    <div class="newsMarquee ">
                         <p>帶您走遍各大景點，一同體驗不同傳統文化、吃遍美食；以最優惠的價格，最優質的服務，帶您一同遨遊日本。</p>
                    </div>
                    <div class="dash"></div>
                    <div>
                         <% for(var i=0;i < 3; i++){ %>
                              <div class="newsText">
                                   <div><img class="circleImg" src="<%= data[i].img %>"></div>
                                   <h4 class="overText">
                                        <%= data[i].title %>
                                   </h4>
                                   <p class="overText">
                                        <%= data[i].contents %>
                                   </p>
                                   <button class="BtnStyle" onclick="news('<%= data[i].newsid %>')">
                                        <span class="btnHover">go</span>
                                        <span class="btnstop">了解更多</span>
                                   </button>
                              </div>
                              <% } %>
                    </div>
               </div>
          </div>

          <script>
               function news(id) {
                         console.log(id);
                         newsData = {
                              newsid: id
                         }


                         $.ajax({
                              type: "post",
                              url: "/news",
                              data: newsData,
                              success: function (e) {
                                   $(location).attr('href', 'newsview');
                              }
                         })
                    }
          </script>

          <!-- ---------------------------熱門景點------------------------------ -->

          <div class="space_a">
               <div class="place_center">
                    <h2 class="titleStyle">熱 門 景 點</h2>
                    <hr>
                    <a href="/IntroduceScheduleh/0" class="ticA">
                         <div class="ticket">
                              <div class="row ">
                                   <div class="col-1">
                                        <div style="width: 51px; height: 285px; background-color:#83C9D2;"></div>
                                   </div>
                                   <div class="col-4">
                                        <div class="ticFont">
                                             <h3>銀妝富士山5日</h3>
                                             <h3>TICKET</h3>
                                             <h3>五天四夜</h3>
                                             <h3>76800</h3>
                                             <small>起</small>
                                        </div>
                                   </div>
                                   <div class="col-7">
                                        <img src="/img/s_tokyo.png" alt="">
                                   </div>
                              </div>
                         </div>
                    </a>

                    <hr>
                    <a href="/IntroduceScheduleh/2" class="ticA">
                         <div class="ticket">
                              <div class="row ">
                                   <div class="col-1">
                                        <div style="width: 51px; height: 250px; background-color:#83C9D2;"></div>
                                   </div>
                                   <div class="col-4 ">
                                        <div class="ticFont">
                                             <h3>炫動環球影城5日</h3>
                                             <h3>TICKET</h3>
                                             <h3>五天四夜</h3>
                                             <h3>65800</h3>
                                             <small>起</small>
                                        </div>
                                   </div>
                                   <div class="col-7">
                                        <img src="/img/s_osaka.png" alt="">
                                   </div>
                              </div>
                         </div>
                    </a>

                    <hr>

                    <!-- <a href="#">
                         <div class="ticket">
                              <div class="row ">
                                   <div class="col-1">
                                        <div style="width: 100%; height: 250px; background-color:#83C9D2;"></div>
                                   </div>
                                   <div class="col-4 tic">
                                        <h3>京都</h3>
                                        <h3>TICKET</h3>
                                        <h3>五天四夜</h3>
                                        <h3>56000</h3>
                                        <small>起</small>
                                   </div>
                                   <div class="col-7">
                                        <img src="/img/s_kyoto.png" alt="">
                                   </div>
                              </div>
                         </div>
                    </div>
                    </a> -->


               </div>
               <script>
                    $('#kansai').on('click',function(){
                         console.log("ok");

                    })
               </script>

               <!-- ---------------------------------------------------------- -->

               <div class="space">
                    <div class="fuji">
                         <div class="fujiFont">
                              <h4>訂製專屬您的行程</h4>
                              <div>
                                   <p>旅行，不該只是一趟離開家裡的移動。</p>
                                   <p>如果沒時間規劃，那就讓我們為您量身規劃。</p>

                              </div>
                              <button class="fujibtn" onclick="location.href='/contact'">去 訂 製</button>
                         </div>
                    </div>
                    <!-- <img src="/img/fujiyama.png" alt=""> -->

               </div>

               <!-- ----------------------------關於我們------------------------------ -->

               <div class="space-a">
                    
                    <div class="book">
                         <div class="row">
                              <div class="col-6">
                                   <img class="about_img_a" src="/img/wall.jpg" alt="about">
                                   <img class="about_img_b" src="/img/sakura.jpg" alt="about">
                              </div>
                              <div class="col-6">
                                   <div>
                                        <div class="paper"></div>
                                        <div class="aboutText">
                                             <h2 class="titleStyle">關 於 我 們</h2>
                                             <div class="mt-5">
                                                  <p>專門為小型團體特別製作行程，</p>
                                                  <p>注重於品質而不是價格，讓每位</p>
                                                  <p>參與的旅客能有與眾不同的經驗，</p>
                                                  <p>徜徉和旅在此為您服務！</p>
                                             </div>
                                             
                                             <button class="BtnStyle mt-1">
                                                  <span class="btnHover">go</span>
                                                  <span class="btnstop">了解更多</span>
                                             </button>
                                        </div>
                                   </div>
                                   <div class="paper-l" style="position: relative;left: -20%;"></div>
                              </div>
                         </div>
                    </div>
               </div>



               <%- include('share/home_footer.ejs')%>



</body>

</html>