<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/myHomeStyle.css">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <script src="/js/jquery-3.6.0.js"></script>
     <title>Home page</title>
</head>
<!--  -->

<body onload="loading()">
     <div id="loading">
          <div class="icon">
               <div class="paper"></div>
               <div class="stroke"></div>
          </div>
     </div>
     <%- include('share/home_nav.ejs')%>
          <div class="space" style="overflow:hidden;">

               <div class="sky"></div>
               <div class="cloud"></div>
               <div class="airWindow"></div>
               <div class="topContent">
                    <div class="search">
                         <input type="text" placeholder="想去哪裡" id="search" required>
                         <button id="select" class="btn"
                              style="display: inline-block; background-color: #83C9D2; color: white; height: 50px; position: relative; top: -2px;">
                              搜尋
                         </button>
                    </div>
                    <div class="title_top">
                         <div>Enjoy</div>
                         <div>Travel</div>
                         <div>To Japan</div>
                    </div>
                    <div>起程</div>
                    <img class="arrows" src="/img/twoarrow.png" alt="">
               </div>
               <div class="sideAirplane"></div>
               <div class="sideBlock">
                    <button id="side_1" class="sideBlock_1"></button>
                    <button id="side_2" class="sideBlock_1"></button>
                    <button id="side_3" class="sideBlock_1"></button>
                    <button id="side_4" class="sideBlock_1"></button>
                    <button id="side_5" class="sideBlock_1"></button>
               </div>
               <div style="width: 3px; height: 360px;background-color: gainsboro; z-index: 5;margin-left: 16px;position: fixed; top:29.5% ;left: 2px;"></div>


               <script>
                    function loading() {
                         setTimeout(function () {
                              document.getElementById("loading").style.height = "0%";
                         }, 2000)
                    }

                    $('#select').on('click', function () {
                         console.log($('#search').val());
                         const text = {
                              t: $('#search').val()
                         }
                         if (!$('#search').val() == "") {
                              $.ajax({
                                   type: "post",
                                   url: "/select",
                                   data: text,
                                   success: function (e) {
                                        $(location).attr('href', 'search');
                                   }
                              })
                         } else {
                              alert('請輸入地區')
                         }

                    })

                    $('#side_1').on('click', function () {
                         window.scrollTo({
                              top: 0,
                              behavior: 'smooth'
                         })
                    })
                    $('#side_2').on('click', function () {
                         window.scrollTo({
                              top: 697,
                              behavior: 'smooth'
                         })
                    })
                    $('#side_3').on('click', function () {
                         window.scrollTo({
                              top: 1428,
                              behavior: 'smooth'
                         })
                    })
                    $('#side_4').on('click', function () {
                         window.scrollTo({
                              top: 2414,
                              behavior: 'smooth'
                         })
                    })
                    $('#side_5').on('click', function () {
                         window.scrollTo({
                              top: 3100,
                              behavior: 'smooth'
                         })
                    })

                    $(document).on('scroll',function(){
                         var y = $(document).scrollTop();
                         // console.log(y);
                         if ( y >= 0 && y < 696) {
                              $('.sideAirplane').css('transform','translateY(0px)');
                         }else if(y >= 697 && y < 1381) {
                              $('.sideAirplane').css('transform','translateY(90px)');
                         }else if(y >= 1382 && y < 2413){
                              $('.sideAirplane').css('transform','translateY(180px)');
                         }else if(y >= 2414 && y < 3070){
                              $('.sideAirplane').css('transform','translateY(270px)');
                         }else{
                              $('.sideAirplane').css('transform','translateY(360px)');
                         }
                         // switch (y) {
                         //      case y<696:
                         //           $('#side_1').css('background', '#83C9D2');
                         //           break;
     
                         //      case 697:
                         //           $('#side_2').css('background', '#83C9D2');
                         //           break;
                         //      case 1428:
                         //           $('#side_3').css('background', '#83C9D2');
                         //           break;
                         //      case 2414:
                         //           $('#side_4').css('background', '#83C9D2');
                         //           break;
                         //      case 3100:
                         //           $('#side_5').css('background', '#83C9D2');
                         //           break;
                         // }

                    })






               </script>



          </div>
          <!-- ----------------------------最新消息------------------------------ -->
          <div class="space ">
               <div class="place_center">
                    <h2 class="titleStyle mt-5">最 新 消 息</h2>
                    <div class="dash mt-5"></div>
                    <div class="newsMarquee ">
                         <p>帶您走遍各大景點，一同體驗不同傳統文化、吃遍美食；以最優惠的價格，最優質的服務，帶您一同遨遊日本。</p>
                    </div>
                    <div class="dash"></div>
                    <div>
                         <% for(var i=0;i < 3; i++){ %>
                              <div class="newsText">
                                   <div><img class="circleImg" src="<%= data[i].img %>"></div>
                                   <h4 class="overText">
                                        <%= data[i].title %>
                                   </h4>
                                   <p class="overText">
                                        <%= data[i].contents %>
                                   </p>
                                   <button class="BtnStyle" onclick="news('<%= data[i].newsid %>')">
                                        <span class="btnHover">go</span>
                                        <span class="btnstop">了解更多</span>
                                   </button>
                              </div>
                              <% } %>
                    </div>
               </div>
          </div>

          <script>
               function news(id) {
                    console.log(id);
                    newsData = {
                         newsid: id
                    }


                    $.ajax({
                         type: "post",
                         url: "/news",
                         data: newsData,
                         success: function (e) {
                              $(location).attr('href', 'newsview');


                         }
                    })
               }
          </script>

          <!-- ---------------------------熱門行程------------------------------ -->

          <div class="space_a">
               <div class="place_center_a">
                    <h2 class="titleStyle">熱 門 行 程</h2>
                    <hr>
                    <a href="/IntroduceScheduleh/0" style="color: black; text-decoration: none;" class="ticket">
                         <div class="row"
                              style="width:810px;height: 250px; background-color: white;border-radius: 5px;overflow: hidden;">
                              <div class="col-1" style="background-color: #83C9D2;">
                                   <h5 class="ticfont">銀妝富士山</h5>
                                   <img src="/img/airplane_w.png" alt=""
                                        style="width: 30px;height:30px;object-fit: cover;position: relative;top: -150px;left: 10px;">
                              </div>
                              <div class="col-8 tic"
                                   style="background-image: url(/img/FUJI.jpg); border-radius:0 5px 5px 0;overflow: hidden;">
                                   <div class="tic_in">
                                        <img src="/img/airplane_2.png" alt="">
                                        <h4 class="ticinFont" style="top: -40px; left:0px">銀妝富士山五日</h4>
                                        <h4 class="ticinFont" style="top: 15px; left:95px">台灣</h4>
                                        <h4 class="ticinFont" style="top: -22px; left:360px">東京</h4>
                                        <p class="ticinFont" style="top: -70px; left:190px">2023/12/12(二)</p>
                                        <h3 class="ticinFont" style="top: 10px; left:370px">NT$ 76800</h3>
                                   </div>
                              </div>
                              <div class="col-3" style="border-left: 2px dashed black; border-radius: 5px;">
                                   <div style="margin-top: 35px; margin-left: 25px;">
                                        <h4>銀妝富士山</h4>
                                        <h4>五天四夜</h4>
                                        <p>出發日期：<b>12/12</b> </p>
                                        <p>價錢</p>
                                        <h5>NT$ <span style="color: #FFBF5F; font-size: 28px;">76800</span> </h5>

                                   </div>
                              </div>
                         </div>
                    </a>
                    <a href="/IntroduceScheduleh/2" style="color: black; text-decoration: none;" class="mt-5 ticket">
                         <div class="row"
                              style="width:810px;height: 250px; background-color: white;border-radius: 5px;overflow: hidden;">
                              <div class="col-1" style="background-color: #83C9D2;">
                                   <h5 class="ticfont">炫環球影城</h5>
                                   <img src="/img/airplane_w.png" alt=""
                                        style="width: 30px;height:30px;object-fit: cover;position: relative;top: -150px;left: 10px;">
                              </div>
                              <div class="col-8 tic"
                                   style="background-image: url(/img/Universal.jpg); border-radius:0 5px 5px 0;overflow: hidden;">
                                   <div class="tic_in">
                                        <img src="/img/airplane_2.png" alt="">
                                        <h4 class="ticinFont" style="top: -40px; left:0px">炫動環球影城五日</h4>
                                        <h4 class="ticinFont" style="top: 15px; left:95px">台灣</h4>
                                        <h4 class="ticinFont" style="top: -22px; left:360px">大阪</h4>
                                        <p class="ticinFont" style="top: -70px; left:190px">2024/01/21(日)</p>
                                        <h3 class="ticinFont" style="top: 10px; left:370px">NT$ 65800</h3>
                                   </div>
                              </div>
                              <div class="col-3" style="border-left: 2px dashed black; border-radius: 5px;">
                                   <div style="margin-top: 35px; margin-left: 25px;">
                                        <h4>炫動環球影城</h4>
                                        <h4>五天四夜</h4>
                                        <p>出發日期：<b>01/21</b> </p>
                                        <p>價錢</p>
                                        <h5>NT$ <span style="color: #FFBF5F; font-size: 28px;">65800</span> </h5>

                                   </div>
                              </div>
                         </div>
                    </a>
                    <a href="/IntroduceScheduleh/1" style="color: black; text-decoration: none;" class="mt-5 ticket">
                         <div class="row"
                              style="width:810px;height: 250px; background-color: white;border-radius: 5px;overflow: hidden;">
                              <div class="col-1" style="background-color: #83C9D2;">
                                   <h5 class="ticfont">秋釀河口湖</h5>
                                   <img src="/img/airplane_w.png" alt=""
                                        style="width: 30px;height:30px;object-fit: cover;position: relative;top: -150px;left: 10px;">
                              </div>
                              <div class="col-8 tic"
                                   style="background-image: url(/img/Area-1.png); border-radius:0 5px 5px 0;overflow: hidden;">
                                   <div class="tic_in">
                                        <img src="/img/airplane_2.png" alt="">
                                        <h4 class="ticinFont" style="top: -40px; left:0px">秋釀河口湖五日</h4>
                                        <h4 class="ticinFont" style="top: 15px; left:95px">台灣</h4>
                                        <h4 class="ticinFont" style="top: -22px; left:360px">東京</h4>
                                        <p class="ticinFont" style="top: -70px; left:190px">2023/11/07(二)</p>
                                        <h3 class="ticinFont" style="top: 10px; left:370px">NT$ 72800</h3>
                                   </div>
                              </div>
                              <div class="col-3" style="border-left: 2px dashed black; border-radius: 5px;">
                                   <div style="margin-top: 35px; margin-left: 25px;">
                                        <h4>秋釀河口湖</h4>
                                        <h4>五天四夜</h4>
                                        <p>出發日期：<b>11/07</b> </p>
                                        <p>價錢</p>
                                        <h5>NT$ <span style="color: #FFBF5F; font-size: 28px;">72800</span> </h5>

                                   </div>
                              </div>
                         </div>
                    </a>






               </div>

               <!-- ---------------------------------------------------------- -->

               <div class="space">
                    <div class="fuji">
                         <div class="fujiFont">
                              <h4>訂製專屬您的行程</h4>
                              <div>
                                   <p>旅行，不該只是一趟離開家裡的移動。</p>
                                   <p>如果沒時間規劃，那就讓我們為您量身規劃。</p>

                              </div>
                              <button class="fujibtn" onclick="location.href='/contact'">去 訂 製</button>
                         </div>
                    </div>
                    <!-- <img src="/img/fujiyama.png" alt=""> -->

               </div>

               <!-- ----------------------------關於我們------------------------------ -->

               <div class="space-a">

                    <div class="book">
                         <div class="row">
                              <div class="col-6">
                                   <img class="about_img_a" src="/img/about_japan2.jpg" alt="about">
                                   <img class="about_img_b" src="/img/about_japan.jpg" alt="about">
                              </div>
                              <div class="col-6">
                                   <div>
                                        <div class="paper"></div>
                                        <div class="aboutText">
                                             <h2 class="titleStyle">關 於 我 們</h2>
                                             <div class="mt-5">
                                                  <p>專門為小型團體特別製作行程，</p>
                                                  <p>注重於品質而不是價格，讓每位</p>
                                                  <p>參與的旅客能有與眾不同的經驗，</p>
                                                  <p>徜徉和旅在此為您服務！</p>
                                             </div>

                                             <button class="BtnStyle mt-1">
                                                  <span class="btnHover">go</span>
                                                  <span class="btnstop">了解更多</span>
                                             </button>
                                        </div>
                                   </div>
                                   <div class="paper-l" style="position: relative;left: -20%;"></div>
                              </div>
                         </div>
                    </div>
               </div>
               <%- include('share/home_footer.ejs')%>

                    <!-- Back to top -->
                    <script>
                         $('.place_center').on('swipe', function () {
                              $('.place_center').addClass('sroll')
                         })

                    </script>
                    <button class="GoTop" id="GoTop">
                         <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                              class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                              <path fill-rule="evenodd"
                                   d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
                         </svg>
                    </button>
                    <script>
                         var GoTop = document.getElementById('GoTop');

                         GoTop.addEventListener('click', () => {
                              window.scrollTo({
                                   top: 0,
                                   behavior: 'smooth'  // 使用平滑滾動
                              });
                         });
                    </script>








</body>

</html>