<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="/css/myHomeStyle.css">
     <link rel="stylesheet" href="/css/bootstrap.css">
     <script src="/js/jquery-3.6.0.js"></script>
</head>

<body>
     <%- include('share/home_nav.ejs')%>
          <div style="width: 100%; height:150px; "></div>
          <div class="place_center" style="width: 80%; height:650px; text-align: center; margin-left: 10%;">
               <img style="width: 100%; height:250px; overflow: hidden;object-fit: cover;overflow: hidden;"
                    src="<%= data[0].img %>" alt="">
               <h2 class="mt-4">
                    <%= data[0].title %>
               </h2>
               <small style="text-align:left" class="dd">
                    <%= data[0].dd %>
               </small>
               <p class="mt-5" style="text-align:left ;max-width: 770px;">
                    <%= data[0].contents %>
               </p>
               <button class="btn" style="background-color:#83C9D2; color: white; " onclick="history.back()">回上一頁</button>
               <div style="width: 100%; height:150px; "></div>

          </div>

          <%- include('share/home_footer.ejs')%>

               <script>
                    $(document).ready(function () {
                         // console.log( $('.dd').html());
                         var DD =  $('.dd').html();
                         var dd = new Date(DD);
                         var year = dd.getFullYear();
                         var month = dd.getMonth() + 1; 
                         var day = dd.getDate();
                         var date = `${year}-${month < 10 ? '0' : ''}${month}-${day < 10 ? '0' : ''}${day}`;
                         // console.log(date);
                         $('.dd').text(date);


                    })
               </script>
               <!-- Back to top -->
               <script>
                    $('.place_center').on('swipe',function(){
                         $('.place_center').addClass('sroll')
                    })
          
               </script>
               <button class="GoTop" id="GoTop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-bar-up"
                         viewBox="0 0 16 16">
                         <path fill-rule="evenodd"
                              d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
                    </svg>
               </button>
               <script>
                    var GoTop = document.getElementById('GoTop');
          
                    GoTop.addEventListener('click', () => {
                         window.scrollTo({
                              top: 0,
                              behavior: 'smooth'  // 使用平滑滾動
                         });
                    });
               </script>
</body>

</html>