<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單資訊</title>
    <link rel="stylesheet" type="text/css" href="/css/shoppingCart.css">
    <script src="https://kit.fontawesome.com/a0c576b9c8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <%- include('account.ejs') %>
        <div class="shopping">
            <div class="shopping2">
                <h1 class="title1">訂單資訊</h1>
                <div class="shopping3">
                    <table class="table1">
                        <tr class="shoptitle">
                            <!-- <th>number</th> -->
                            <th>行程</th>
                            <th>地點</th>
                            <th>去程</th>
                            <th>回程</th>
                            <th>價格</th>
                            <th>編輯</th>
                            <th>付款</th>
                        </tr>
                        <div class="contentdiv">
                            <% let allOrdersTotalPrice=0; %>
                                <% if (orders && orders.length> 0) { %>
                                    <% orders.forEach(function(order) { %>
                                        <% allOrdersTotalPrice +=parseFloat(order.Price); %>
                                            <tr class="content">
                                                <!-- <td><%= order.order_id %></td> -->
                                                <td>
                                                    <a href="http://localhost:2407/IntroduceScheduleh/<%=order.id-1%>"
                                                        class="ahrefschedukeh">
                                                        <%= order.Title %>
                                                    </a>
                                                </td>
                                                <td>
                                                    <%= order.GoTo %>
                                                </td>
                                                <td>
                                                    <%= order.GoDate %>
                                                </td>
                                                <td>
                                                    <%=order.ArrDate%>
                                                </td>
                                                <td>
                                                    <%= order.Price %>
                                                </td>
                                                <td>
                                                    <form method="POST" action="/deleteCart">
                                                        <input type="hidden" name="order_id"
                                                            value="<%= order.order_id %>">
                                                        <button type="submit" class="delbtn">刪除訂單</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <button class="creditCardButton">信用卡</button>
                                                    <button class="remitbutton">匯款</button>
                                                    <div class="singobuytwo" id="singobuytwo">
                                                        <span id="singoclosebtn2" class="singoclosebtn2">
                                                            <i class="fa-solid fa-xmark" style="color: #000000;">
                                                            </i>
                                                        </span>
                                                        <h1 class="singocardinfo">請輸入卡片資訊</h1>
                                                        <div class="pay">
                                                            <div>
                                                                <label for="singocardname">持卡人姓名</label>
                                                                <input type="text" name="singocardname"
                                                                    id="singocardname" class="singocardname" required>
                                                            </div>
                                                            <div>
                                                                <label for="singocardnum">信用卡卡號</label>
                                                                <input type="text" name="singocardnum"
                                                                    id="singocardnum1" class="singocardnum">-
                                                                <input type="text" name="singocardnum"
                                                                    id="singocardnum2" class="singocardnum">-
                                                                <input type="text" name="singocardnum"
                                                                    id="singocardnum3" class="singocardnum">
                                                            </div>
                                                            <div>
                                                                <label for="singocarddate">信用卡有效年月</label>
                                                                <input type="month" name="singocarddate"
                                                                    id="singocarddate" required>
                                                            </div>
                                                            <div class="singoinputflex">
                                                                <label for="singobacknum" id="singotext">信用卡後三碼</label>
                                                                <input type="text" name="" id="singobacknum"
                                                                    name="singobacknum" class="singobacknum" required>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div>
                                                            <form action="/singobought" method="post">
                                                                <input type="hidden" name="order_id"
                                                                    value="<%= order.order_id %>">
                                                                <input type="hidden" name="order_title"
                                                                    value="<%= order.Title %>">
                                                                <input type="hidden" name="order_GoTo"
                                                                    value="<%= order.GoTo %>">
                                                                <input type="hidden" name="order_GoDate"
                                                                    value="<%= order.GoDate %>">
                                                                <input type="hidden" name="order_ArrDate"
                                                                    value="<%= order.ArrDate %>">
                                                                <input type="hidden" name="order_Price"
                                                                    value="<%= order.Price %>">
                                                                <button class="singoenterbtn"
                                                                    id="singoenterbtn">確定</button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="singobuythree" id="singobuythree">
                                                        <div class="singopaycash">
                                                            <span id="singoclosebtn3" class="singoclosebtn3">
                                                                <i class="fa-solid fa-xmark" style="color: #000000;">
                                                                </i>
                                                            </span>
                                                            <h1 class="singocardinfo">匯款資訊</h1>
                                                            <h3>請輸入以下資訊，我們將會人工審核 <br> 需3-5工作天</h3>
                                                            <div>
                                                                <label for="singocashname">姓名：</label>
                                                                <input type="text" id="singocashname">
                                                            </div>
                                                            <div>
                                                                <label for="singocashfive">匯款後五碼：</label>
                                                                <input type="text" id="singocashfive">
                                                            </div>
                                                            <br>
                                                            <form action="/singonobought" method="post">
                                                                <input type="hidden" name="order_id"
                                                                    value="<%= order.order_id %>">
                                                                <input type="hidden" name="order_title"
                                                                    value="<%= order.Title %>">
                                                                <input type="hidden" name="order_GoTo"
                                                                    value="<%= order.GoTo %>">
                                                                <input type="hidden" name="order_GoDate"
                                                                    value="<%= order.GoDate %>">
                                                                <input type="hidden" name="order_ArrDate"
                                                                    value="<%= order.ArrDate %>">
                                                                <input type="hidden" name="order_Price"
                                                                    value="<%= order.Price %>">
                                                                <button class="singoenterbtn2"
                                                                    id="singoenterbtn1">確定</button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <% }); %>
                                                <% } else if (message){ %>
                                                    <tr class="content">
                                                        <td colspan="5">
                                                            <%= message %>
                                                        </td>
                                                    </tr>
                                                    <% } else{%>
                                                        <tr class="content">
                                                            <td colspan="7">暫無訂單</td>
                                                        </tr>

                                                        <%}%>

                        </div>
                </div>
                </table>
                <div class="pagetable">
                    <div class="pagination">
                        <!-- <% if(currentPage>1){%> -->
                        <!-- <%}%> -->
                        <a href="/shoppingCart?page=<%=currentPage -1%>">
                            <button class="pagebtn">上一頁</button>
                        </a>
                        <span>第<%=currentPage%>頁</span>
                        <% if(!nextPageDisabled){%>
                            <a href="/shoppingCart?page=<%=currentPage +1%>">
                                <button class="pagebtn">下一頁</button>
                            </a>
                            <%}else {%>
                                <button class="pagebtn" disabled>下一頁</button>
                                <%}%>
                    </div>
                </div>
                <div class="table2">
                    總價:
                    $: <span id="allOrdersTotalPrice">
                        <%= allOrdersTotalPrice %>
                    </span>
                    <button class="gobtn" onclick="opencheck()">送出所有訂單</button>
                    <br><br>
                </div>
            </div>
        </div>
        </div>

        <!-- 全部送出的 -->
        <div id="buy" class="buy">
            <div class="model">
                <br>
                <h1>確定送出訂單？</h1>
                <h2>請選擇信用卡或匯款</h2>
                <span id="closebtn" class="closebtn">
                    <i class="fa-solid fa-xmark" style="color: #000000;">
                    </i></span>
            </div>
            <div class="carddiv" id="carddiv">

                <button class="iconbtn" id="iconbtn1"> <i class="fa-solid fa-credit-card" id="icon1"></i>
                </button>
                <button class="iconbtn" id="iconbtn2"><i class="fa-solid fa-dollar-sign" id="icon2"></i></button>
            </div>
            <br>
            <div>
                <button class="nobtn" id="no">取消結帳</button>
            </div>
            <br>
        </div>

        <div id="overlay" class="overlay"></div>

        <div class="buythree" id="buythree">
            <span id="closebtn2" class="closebtn2">
                <i class="fa-solid fa-xmark" style="color: #000000;">
                </i>
            </span>
            <h1 class="cardinfo">請輸入卡片資訊</h1>
            <div class="pay">
                <div>
                    <label for="cardname">持卡人姓名</label>
                    <input type="text" name="cardname" id="cardname" class="cardname" required>
                </div>
                <div><label for="cardnum">信用卡卡號</label>
                    <input type="text" name="cardnum" id="cardnum1" class="cardnum">- <input type="text" name="cardnum"
                        id="cardnum2" class="cardnum" required>- <input type="text" name="cardnum" id="cardnum3"
                        class="cardnum" required>
                </div>
                <div>
                    <label for="carddate">信用卡有效年月</label>
                    <input type="month" name="carddate" class="carddate" required>
                </div>
                <div class="inputflex">
                    <label for="backnum" id="text">信用卡後三碼</label>
                    <input type="text" id="backnum" name="backnum" class="backnum" placeholder="" required>
                </div>
            </div>
            <br>
            <div>
                <form action="/bought" method="post">
                    <button class="enterbtn" id="enterbtn">確定</button>
                </form>
            </div>
        </div>

        <div class="buyfour" id="buyfour">
            <div class="paycash">
                <span id="closebtn3" class="closebtn3">
                    <i class="fa-solid fa-xmark" style="color: #000000;">
                    </i></span>
                <h1 class="cardinfo">匯款資訊</h1>
                <h3>請輸入以下資訊，我們將會人工審核 <br>需3-5工作天</h3>
                <div>
                    <label for="cashname">姓名：</label>
                    <input type="text" id="cashname">
                </div>
                <div>
                    <label for="cashfive">匯款後五碼：</label>
                    <input type="text" id="cashfive">
                </div>
                <br>
                <form action="/nobought" method="post">
                    <button class="enterbtn2" id="enterbtn2">確定</button>
                </form>
            </div>
        </div>

        <!-- 單個送出的 -->



</body>


<script src="/js/shoppingCart.js"></script>
<script src="/js/shoppingCart1.js"></script>

</html>